body,p, h1, h2, div,.page,.feynman, nav{
  border: 1px solid red;
  margin: 0;
}

/*body, p , h1, h2,div{
  margin: 0;
  border: 1px solid red;
}*/

img{
  width: 100%;
  height: 100%;
  padding-left: 0;
}
